@model Student_Management_App_MVC.Models.DTOs.Student.StudentCreateDto

@{
    ViewData["Title"] = "Add Student";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Add New Student</h3>
            </div>
            <div class="card-body">
                <form asp-action="AdminAdd">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="StudentName" class="control-label"></label>
                        <input asp-for="StudentName" class="form-control" />
                        <span asp-validation-for="StudentName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StudentAddress" class="control-label"></label>
                        <input asp-for="StudentAddress" class="form-control" />
                        <span asp-validation-for="StudentAddress" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="ZipCode" class="control-label"></label>
                                <input asp-for="ZipCode" class="form-control" />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Country" class="control-label"></label>
                                <input asp-for="Country" class="form-control" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="StudentEmail" class="control-label"></label>
                        <input asp-for="StudentEmail" class="form-control" />
                        <span asp-validation-for="StudentEmail" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PhoneNumber1" class="control-label"></label>
                                <input asp-for="PhoneNumber1" class="form-control" />
                                <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PhoneNumber2" class="control-label"></label>
                                <input asp-for="PhoneNumber2" class="form-control" />
                                <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" type="date" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SchoolName" class="control-label"></label>
                                <input asp-for="SchoolName" class="form-control" />
                                <span asp-validation-for="SchoolName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Course" class="control-label"></label>
                                <input asp-for="Course" class="form-control" />
                                <span asp-validation-for="Course" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <input type="submit" value="Add Student" class="btn btn-primary w-100" />
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a asp-action="AdminView" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}